OAuth Standards Compliance

So it turns out that my OAuth 2.0 implementation violates section 4.2.2 of RFC 6749 by calling the UCL API User Token just a `token` and not an `access_token`.

This breaks apps (such as Discourse) that rely on OAuth implementations actually being standards compliant. Whoopsidaisies!